/* #region MASTER STYLES  */

/* Import av Roboto fonten fra Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  /* Variabler med alle fargene vi bruker på nettsiden*/
  --backgroundColor: #111;
  --generalTextColor: white;
  --mainColor: #aa5454;
  --secondaryColor: #edcbb1;
  --buttonColor: #232323;
  --highlightColor: #505050;

  /* Gradient på hovedbildene på alle sidene */
  --mainImgGradiant: linear-gradient(
    var(--backgroundColor),
    #00000080 45%,
    #00000080 55%,
    var(--backgroundColor) 90%
  );

  /* Høyde på headeren (For at ting ikke skal bli gjemnt bak)*/
  --headerHight: 6rem;
}

/* Generelt sideoppsett */
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: var(--headerHight);
}

body {
  background: var(--backgroundColor);
  color: var(--generalTextColor);
  font-family: "Roboto", sans-serif;
}

.page-container {
  margin-top: var(--headerHight);
}

/* Styling av kriditerings-teksten på alle bildene */
.imageCredits a {
  color: var(--generalTextColor);
}

/* Fjerner teksten som er lagt til for screen readere */
.hide-text {
  display: inline-block;
  text-indent: -9999px;
}
/* #endregion Master Styles */

/* #region HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  padding: 1.2em 2vw 1.2em 1em;
  background-color: var(--backgroundColor);

  z-index: 999;
}

/* Skiller logoen og nav-knappene fra hverandre */
.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling av header-logoen */
.desktopHeader h1 a {
  text-decoration: none;
  color: var(--mainColor);
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

/* Styling av nav-linkene */
.topNav a,
.showMenu a {
  text-decoration: none;
  color: var(--generalTextColor);
  font-size: 1.4em;
  margin: 0 0.5em;
  border-bottom: solid 2px #00000000;
  transition: color 0.3s;
}

/* Styling av mobil nav-linkene */
.mobileNav a {
  margin: 1em 0;
}

/* Styling av hover effekten på storskjerm linkene */
.topNav a:hover {
  color: var(--mainColor);
}

/* Styling av style hover effekten på mobil linkene */
.showMenu a:hover {
  border-bottom: solid 2px var(--mainColor);
  color: var(--mainColor);
}

/* Gjemmer nav-barem til mobil-siden */
.icon,
.mobileNav {
  display: none;
}

@media screen and (max-width: 850px) {
  /* For mobil - gjemmer nav-linkene til storskjerm-siden */
  .topNav a {
    display: none;
  }

  /* Viser nav-baren til mobil */
  .showMenu,
  .showMenu a,
  .topNav .icon {
    display: block;
  }
}

/* Styling av indikatoren for den aktive siden */
.topNav a.activePage {
  border-bottom: solid var(--mainColor) 2px;
}

.showMenu a.activePage {
  color: var(--mainColor);
  text-decoration: underline;
  margin-left: 1em;
}
/* #endregion Header */

/* #region TITLE & IMAGE */
.mainImg {
  width: 100%;
  min-height: calc(100vh - var(--headerHight));
  height: fit-content;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Plasserer teksten i midten av skjermen */
.pageInformation {
  margin: auto;
  text-align: center;
}

/* Styling av hovedtittelen for siden */
.pageInformation h1 {
  -webkit-hyphens: auto;
  hyphens: auto;

  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1em 0;
  font-size: 3em;
  text-shadow: 2px 1px 10px #000000ee;
}

/* Styling for undertittler på hovedbildet */
.pageInformation h2 {
  font-size: 1.6em;
  margin: 0.4em;
  text-shadow: 2px 2px 3px #000000;
}

/* Styling av informasjonsteksten på hovedbildet */
.pageInformation p {
  max-width: 60em;
  margin: 0 1em;
  font-size: 1.3em;
  text-shadow: 2px 2px 3px #000000;
}

/* Styling av pilknappen på bildet */
.arrowDown {
  text-align: center;
  margin: 3em;
}

.arrowDown i {
  color: var(--generalTextColor);
  padding: 0.5em;
  border-radius: 90px;
  font-size: 2em;
}

.arrowDown i:hover {
  color: var(--mainColor);
}

/* Bilde-kredit spesifikt på hovedbilde */
.mainImg > .imageCredits {
  margin: 0 2em 1em 2em;
}

/* #endregion title & image */

/* #region FOOTER */
/* Oppsett og styling av hele footeren */
footer {
  display: flex;
  justify-content: space-evenly;
  gap: 5em 2em;

  margin: 3em 0 0 0;
  padding: 3em 3em;
  background: var(--buttonColor);
}

footer h3 {
  margin: 0 0 0.2em 0;
}

@media screen and (max-width: 870px) {
  /* Tilpasser footeren til mobil */
  footer {
    flex-direction: column;
    align-items: center;
  }
}

/* Styling av kontakt infoen */
.contactInfo a {
  color: var(--generalTextColor);
}

.contactInfo a:hover {
  color: var(--mainColor);
}

/* Oppsett og styling av åpningstidene */
.openingHours>div {
  margin-bottom: 1em;
  text-align: center;
}

/* Navigasjonslinkene blir lagt vertikalt og stylet */
.footerNav a {
  display: block;
  margin: 0 0 0.2em 1em;

  color: var(--generalTextColor);
  text-decoration: none;
}

.footerNav a:hover {
  color: var(--mainColor);
  text-decoration: underline;
}

/* Oppsett og styling av sosiale medier lenker */
.socialLinks {
  text-align: center;
}

.socialLinks a {
  color: var(--generalTextColor);
  font-size: 1.4em;
  margin: 0.3em;
}

#facebook:hover {
  color: #4267b2;
}

#instagram:hover {
  color: #f77737;
}

#linkedin:hover {
  color: #0077b5;
}
/* #endregion Footer */

/* #region HOMEPAGE*/
.homepageImg {
  /* Legger til bakgrunnsbildet på hovedtittelen */
  background-image: var(--mainImgGradiant),
    url(../Assets/Images/Homepage/Compressed_Homepage_MainImage.jpeg);

  background-position: right;
}

/* Oppsett og styling av alle knappene */
.homepageButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60em;
  margin: auto;
}

/* Oppsett og styling av hver knapp */
.homepageButton {
  max-width: 30em;
  margin: 1em;
  text-align: center;
  background: var(--buttonColor);
  border-radius: 25px;
}

.homepageButton img {
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.homepageButton h2 {
  font-size: 1.6em;
  padding: 0.6em 0;
}

.homepageButton h2 a {
  color: var(--generalTextColor);
  text-decoration: none;
}

.homepageButton .imageCredits {
  font-weight: 300;
  margin: 0 0.6em 0 0.6em;
}

.homepageButton:hover {
  background: var(--highlightColor);
}

/* Tilpasning av knappene til mobil */
@media screen and (max-width: 670px) {
  .homepageButtonContainer {
    grid-template-columns: 1fr;
  }

  .homepageButton {
    margin: 1em auto;
  }
}

/* Tilpasning av knappene til wide-screen */
@media screen and (min-width: 1921px) {
  .homepageButtonContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 120em;
  }
}

/* #endregion homepage*/

/* #region BOOKING */
.bookingImg {
  /* Legger til hovedbildet for denne siden */
  background-image: var(--mainImgGradiant),
    url(../Assets/Images/Booking/MainImage/Compressed_BookingMainImage.jpg);
}

/* Setter informasjon og bilde/skjema ved siden av hverandre */
.bookingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 5em 0;
}

/* Oppsett av flex-objektene */
.bookingContainer > div, 
.bookingContainer > figure {
  width: 30em;
  margin: 1em 2em;
}

/* Gjør at teksten blir plassert i toppen av containeren */
.bookingContainer > div:first-of-type {
  align-self: flex-start;
}

/* Lager mellomrom mellom tekstdelene i flex-objektene */
.bookingContainer > div > div {
  margin-bottom: 2em;
}

/* Oppsett av bildet */
.bookingContainer img {
  width: 100%;
  border-radius: 25px;
}

/* Styling av linkene i containeren */
.bookingContainer a {
  color: var(--generalTextColor);
}

.bookingContainer a:hover {
  color: var(--mainColor);
}

/* Oppsett av skjemaet */
.bookingForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.bookingForm input, 
.bookingForm textarea {
  width: 100%;
  font-size: 1em;
  border-radius: 0 25px 25px 25px;
  padding: 0.3em 0.8em;
}

/* Oppsett av forklarings-tekstboksen i skjemaet */
#bookingDescription {
  grid-column-start: 1;
  grid-column-end: 3;
}

#description {
  height: 5em;
}

#submit {
  border-radius: 25px;
}

/* Tilpasning av sideoppsettet til mindre skjermer. Setter alt vertikalt */
@media screen and (max-width: 870px) {
  .bookingContainer {
    flex-direction: column;
  }

  .bookingContainer > div, 
  .bookingContainer > figure {
    width: auto !important;
  }
}

/* Tilpasser skjemaet til mobil. Får alt til å ligge under hverandre */
@media screen and (max-width: 520px) {
  .bookingForm {
      grid-template-columns: 1fr;
    }
  
    #bookingDescription {
      grid-column-start: auto;
      grid-column-end: auto;
    }
}

/* #endregion booking */

/* #region PØLSERI */
.polseriImg {
  /* Legger til hovedbildet for denne siden */
  background-image: var(--mainImgGradiant),
    url(../Assets/Images/Polseri/Compressed_PolseriMainImage.jpg);
}

.polseriOpeningHours {
  max-width: 24em;
  margin: 2em auto 0 auto;
}

.polseriOpeningHours > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.polseriOpeningHours > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Oppsett av meny kontaineren */
.polseriMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* Boksene med de forskjellige menyene */
.menuOverview {
  justify-self: center;
  background: var(--buttonColor);
  padding: 2em 5em;
  border-radius: 25px;
  width: 40em;
  margin: 1em;
}

.menuOverview h2 {
  text-align: center;
}

/* Hver rett på menyene */
.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  margin: 1em;
  padding: 1em 2em;
}

.menuItem h4 {
  white-space: nowrap;
}

.menuItem p {
  margin-bottom: 1em;
}

/* Lager mer plass til tekst på mindre skjermer, men beholder samme layout */
@media screen and (max-width: 650px) {
  .menuOverview {
    padding: 2em 1em;
    margin: 1em 1em;
  }
}

/* Skifter meny-layouten til å passe på mindre skermer */
@media screen and (max-width: 450px) {
  .menuItem {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid var(--generalTextColor);
  }

  .menuItem:last-of-type {
    border-bottom: 1px solid var(--generalTextColor);
  }
}
/* #endregion pølseri */

/* #region ACCESSIBILITY */
.accessibilityImg {
  /* Legger til hovedbildet for denne siden */
  background-image: var(--mainImgGradiant),
    url(../Assets/Images/Accessibility/MainImage/Compressed_AccessibilityMainImage.jpg);
}

/* Setter størrelse og sentrerer tekstboksen */
.accessibilityMain {
  margin: 8em auto;
  max-width: 65em;
}

/* Styling av tekstboksen */
.accessibilityContent {
  margin: 0 2em;
  padding: 4em;
  background: var(--buttonColor);
  border-radius: 25px;
}

/* Lager en indent til undertemaene */
.accessibilityContent > div {
  padding: 0 0 4em 4em;
}

/* Lager mellomrom mellom tittel og tekst */
.accessibilityContent h2 {
  padding: 0 0 0.8em 0;
}

/* Lager mellomromm mellom den siste tittelen og teksten over */
.accessibilityContent h2:last-of-type {
  padding-top: 2em;
}

/* Styling av titlene til underteamene */
.accessibilityContent h3 {
  padding: 1em 0 0.5em 0;
  font-weight: 400;
  text-decoration: underline;
}

/* Gir brødteksten større indent enn titlene og lager mellomrom mellom avsnittene */
.accessibilityContent p {
  padding-left: 1em;
  padding-bottom: 1em;
}

/* Styling av linkene i teksten */
.accessibilityContent a {
  color: var(--mainColor);
  word-wrap: break-word;
}

.accessibilityContent a:hover {
  color: var(--secondaryColor);
}

/* Får linjene etter den første linjen til å være indentet (apa-kilde stil) */
.accessibilityReferance {
  text-indent: -2em;
  padding-left: 3em !important;
}

/* Styling av bilder i teksten */
.accessibilityContent img {
  width: 100%;
  border-radius: 25px;
}

/* Tilpasser teksten til mellomstore skjermer */
@media screen and (max-width: 850px) {
  .accessibilityContent {
    padding: 3em 2em;
  }

  .accessibilityContent > div {
    padding-left: 2em;
  }
}

/* Tilpasser teksten til mobil-skjermer */
@media screen and (max-width: 600px) {
  .accessibilityContent {
    margin: 0 1em;
    padding: 3em 1em;
  }

  .accessibilityContent > div {
    padding-left: 0;
  }

  .accessibilityContent h3 {
    padding-left: 0.5em;
    padding-bottom: 0.2em;
  }
}
/* #endregion accessibility */

/* #region TOPICAL */
.topicalPage {
  /* Setter egne farger for denne siden */
  background: #fffef3;
  color: #222;
}

/* Styling av hovedtittlen for siden */
.topicalPage h1 {
  text-align: center;
  padding: 1em;
  font-size: 4em;
}

.data1100Credits {
  padding: 0 2em;
}

.topicalPage hr {
  margin: 1em 2em;
}

/* Oppsett for alle modulene */
.topicContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em 2em;
  padding: 0 2em;
  margin: 0 auto 5em auto;
  max-width: 1400px;
}

/* Oppsett av alle sticky-objekter på siden */
.topicSticky {
  position: sticky;
  top: var(--headerHight);
  z-index: 0;
}

/* Styling av modul tittelen */
.topicTitle h2 {
  text-align: right;
  font-size: 2em;
}

/* Oppsett av bildet til alle modulene */
.topicImage {
  width: 20em;
}

.topicImage img {
  width: 100%;
}

/* Fjerner farge på bilde-referanse-linken */
.topicImage a {
  color: black;
}

/* Oppsett og styling av begreplisten og referanselisten */
.definitions, .references {
  width: 80%;
  max-width: 90em;
  margin: 0 auto;
  padding: 2em;
}

/* Lager mellomrom mellom definisjonene */
.definitions dd {
  margin-bottom: 1em;
  margin-left: 2em;
}

/* Får linjene etter den første linjen til å være indentet (apa-kilde stil) */
.references {
  text-indent: -2em;
  padding-left: 4em;
}

/* Bryter opp de lange ordene i lenkene, nødvendig for mobil og mindre skjermer */
.references a {
  word-wrap: break-word;
}

/* Fjerner mellomrom med svart bakgrunn mellom hovedinnhold og footeren */
#topicalFooter {
  margin: 0 !important;
}

/* Tilpasser layouten til mellomstore skjermer, dvs. ipad og lignende */
@media screen and (max-width: 1000px) and (min-width: 701px) {
  .topicContainer {
    grid-template-columns: auto auto;
    padding: 0 1em;
  }

  .topicalPage hr {
    margin: 1em;
  }

  .topicTitle {
    grid-column: span 2;
  }

  .topicTitle h2 {
    text-align: left;
  }

  .definitions, .references {
    width: 100%;
    margin: 0;
    padding: 2em 1em;
  }

  .references {
    padding-left: 3em;
  }
}

/* Tilpasser layouten til små skjermer, mobiler */
@media screen and (max-width: 700px) {
  .topicContainer {
    grid-template-columns: auto;
    padding: 0 1em;
  }

  .topicalPage hr {
    margin: 1em;
  }

  .topicTitle h2 {
    text-align: left;
    font-size: 1.6em;
  }

  .topicImage {
    min-width: auto;
    width: 100%;
    margin: 0 auto;
  }

  .topicalPage h1 {
    font-size: 2.5em;
  }

  .definitions, .references {
    width: 100%;
    margin: 0;
    padding: 2em 1em;
  }

  .references {
    padding: 3em;
  }
}

/* Skifter fonten til en serif-type font for større skjermer */
@media screen and (min-width: 620px) {
  .topicalPage {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
  }
}

/* #endregion pølseri */