@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* #region MASTER STYLES  */
:root {
  /* Variables containing our website colors. 
  Avoid putting colors directly in the code, put them here */
  --backgroundColor: #111;
  --generalTextColor: white;
  --mainColor: #aa5454;
  --secondaryColor: #edcbb1;
  --buttonColor: #232323;
  --highlightColor: #505050;

  --headerHight: 3.7em;
  --mainImgGradiant: linear-gradient(
    var(--backgroundColor),
    #00000000 45%,
    #00000000 55%,
    var(--backgroundColor) 90%
  );
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 8rem;
}

body {
  background: var(--backgroundColor);
  color: var(--generalTextColor);
  font-family: "Roboto", sans-serif;
}
/* #endregion Master Styles */

/* #region GENERAL LAYOUT */
.grid-container {
  display: grid;
  gap: 2em;
  margin-top: var(--headerHight);
  /* Grid template areas ligger i side-spesifikk container*/
}

@media screen and (max-width: 850px) {
  .homepage-container,
  .polseri-container {
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "image"
      "left"
      "main1"
      "main2"
      "main3"
      "main4"
      "right"
      "footer" !important;
  }
}
/* #endregion general layout */

/* #region HEADER LAYOUT */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon,
.mobileNav {
  display: none;
}

@media screen and (max-width: 850px) {
  /* For mobile */
  .topNav a {
    display: none;
  }

  .showMenu,
  .showMenu a,
  .topNav .icon {
    display: block;
  }
}
/* #endregion Header Layout */

/* #region HEADER STYLE */
header {
  padding: 1.2em 2vw 1.2em 1em;
  background-color: var(--backgroundColor);
}

.desktopHeader h1 a {
  text-decoration: none;
  color: var(--mainColor);
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.topNav a,
.showMenu a {
  text-decoration: none;
  color: var(--generalTextColor);
  font-size: 1.4em;
  margin: 0 0.5em;
  border-bottom: solid 2px #00000000;
  transition: color 0.3s;
}

.topNav a:hover {
  color: var(--mainColor);
}

.showMenu a:hover {
  border-bottom: solid 2px var(--mainColor);
  color: var(--mainColor);
}

.topNav a.activePage {
  border-bottom: solid var(--mainColor) 2px;
}

.showMenu a.activePage {
  color: var(--mainColor);
  text-decoration: underline;
}

.mobileNav {
  line-height: 200%;
  padding: 30px 0 0 0;
}
/* #endregion Header Style */

/* #region TITLE & IMAGE LAYOUT */
.mainImg {
  grid-area: image;
  margin-top: 2em;
  width: 100%;
  min-height: calc(100vh - var(--headerHight));
  height: fit-content;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageInformation {
  margin: auto;
  text-align: center;
}

.arrowDown {
  text-align: center;
}

.mainImg > .imageCredits {
  margin: 0 2em 4em 2em;
}

/* #endregion title & image layout */

/* #region TITLE & IMAGE STYLING */
.pageInformation h1 {
  max-width: 100vw;
  hyphens: auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1em 0;
  font-size: 3em;
  text-shadow: 2px 1px 10px #000000ee;
}

.pageInformation p {
  max-width: 60em;
  margin: 0 1em;
  font-size: 1.3em;
  text-shadow: 2px 2px 3px #000000;
}

.arrowDown {
  margin: 3em;
}

.arrowDown i {
  color: var(--generalTextColor);
  padding: 0.5em;
  border-radius: 90px;
  font-size: 2em;
}

.arrowDown i:hover {
  color: var(--mainColor);
}

.imageCredits a {
  color: var(--generalTextColor);
}
/* #endregion title & image styling */

/* #region FOOTER LAYOUT */
footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  gap: 5em 2em;
}

@media screen and (max-width: 870px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

.footerNav nav {
  display: flex;
  flex-direction: column;
}

.openingHoursList {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
/* #endregion Footer Layout */

/* #region FOOTER STYLE */
footer {
  margin: 3em 0 0 0;
  padding: 3em 3em;
  background: var(--buttonColor);
}

footer h3 {
  margin: 0 0 0.2em 0;
}

.contactInfo a {
  color: var(--generalTextColor);
}

.contactInfo a:hover {
  color: var(--mainColor);
}

.footerNav a {
  color: var(--generalTextColor);
  text-decoration: none;
}

.footerNav a:hover {
  color: var(--mainColor);
  text-decoration: underline;
}

.footerNav nav a {
  margin: 0 0 0.2em 1em;
}

.socialLinks a {
  color: var(--generalTextColor);
  font-size: 1.4em;
  margin: 0.4em 0;
}

#facebook:hover {
  color: #4267b2;
}

#instagram:hover {
  color: #f77737;
}

#linkedin:hover {
  color: #0077b5;
}
/* #endregion footer style */

/* #region HOMEPAGE*/
.homepageImg {
  background-image: linear-gradient(
      var(--backgroundColor),
      #00000000 45%,
      #00000000 55%,
      var(--backgroundColor) 90%
    ),
    url(../Assets/Images/Placeholders/placeholderImage1.jpeg);
}

.homepage-container {
  grid-template-areas:
    "image image image image"
    "left main1 main2 right"
    "left main3 main4 right"
    "footer footer footer footer";
  grid-template-columns: auto 30vw 30vw auto;
}

@media screen and (min-width: 1600px) {
  /* For desktop */
  .homepage-container {
    grid-template-columns: auto 30em 30em auto;
  }
}

.homepageButton1 {
  grid-area: main1;
}

.homepageButton2 {
  grid-area: main2;
}

.homepageButton3 {
  grid-area: main3;
}

.homepageButton4 {
  grid-area: main4;
}

.homepageButton {
  max-width: 30em;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--buttonColor);
  border-radius: 25px;
}

.homepageButton img {
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.homepageButton h2 {
  font-size: 1.5em;
  padding: 0.8em 0 0.4em 0;
}

.homepageButton h2 a {
  color: var(--generalTextColor);
  text-decoration: none;
}

.homepageButton .imageCredits {
  font-weight: 300;
  margin: 0 0.6em 0 0.6em;
}

.homepageButton:hover {
  background: var(--highlightColor);
}

/* #endregion homepage*/

/* #region PØLSERI */
.polseri-container {
  grid-template-areas:
    "image image image"
    "left main1 right"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

/* Hovedbilde for siden */
.polseriImg {
  background-image: var(--mainImgGradiant),
    url(../Assets/Images/Placeholders/PolseriPlaceholder/pexels-markus-spiske-4682723.jpg);
}

/* Venstre boks med knapper/velgere */
.menuList {
  grid-area: left;
  justify-self: right;
  background: var(--buttonColor);
  text-align: center;
  margin: 0 0 0 2em;
  padding: 2em 0 2em 0;
  border-radius: 25px;
  height: fit-content;
  min-width: 15em;
  max-width: 20em;
}

.menuList h3 a {
  margin: 0 0 0.5em 0;
  color: var(--generalTextColor);
  text-decoration: none;
}

.menuList button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border: none;
  background: none;
  color: var(--generalTextColor);
  width: 100%;
  font-size: 1.2em;
  padding: 0.6em 0;
  margin: 0.4em 0;
  cursor: pointer;
}

.menuList button:hover {
  background: var(--highlightColor);
  border-radius: 90px;
}

.menuList button p {
  grid-column-start: 2;
  justify-self: center;
}

.menuListArrow {
  display: none;
  font-size: 2em;
}

.activeMenuButton {
  background: var(--highlightColor) !important;
  border-radius: 90px;
}

/* Selve boksen med de forskjellige menyene */
.menuOverview {
  grid-area: main1;
  justify-self: center;
  display: none;
  background: var(--buttonColor);
  padding: 2em;
  border-radius: 25px;
  width: 100%;
  min-width: 30em;
  max-width: 60em;
}

.menuOverview h2 {
  text-align: center;
}

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 1em;
}

.menuItem h4 {
  margin: 0 0 0 1em;
}

/* Boksen med menyene - for mobil */
.mobileMenuOverview {
  display: none;
}

/* Brukt for å gjemme/vise menyene - JavaScript */
.showOverview {
  display: block;
}

.showOverviewMobile {
  display: none;
}

/* Skifter om på hva som vises på mobil */
@media screen and (max-width: 850px) {
  .menuList {
    justify-self: center;
    width: 100%;
    max-width: 35em;
    margin: 0;
  }

  .showOverview {
    display: none;
  }

  #arrowDown {
    display: inline;
  }

  .showOverviewMobile {
    display: block;
  }

  .activeMenuButton #arrowDown {
    display: none !important;
  }

  .activeMenuButton #arrowUp {
    display: inline !important;
  }
}

/* #endregion pølseri */
