/* #region MASTER STYLES  */
:root {
  /* Variables containing our website colors. 
  Avoid putting colors directly in the code, put them here */
  --backgroundColor: #111;
  --generalTextColor: white;
  --mainColor: #aa5454;
  --secondaryColor: #edcbb1;
  --buttonColor: #232323;
  --highlightColor: #505050;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 8rem;
}

body {
  background: var(--backgroundColor);
  color: var(--generalTextColor);
}
/* #endregion Master Styles */

/* #region HEADER LAYOUT */
header {
  grid-area: header;
  position: fixed;
  width: 100%;
}

.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon,
.mobileNav {
  display: none;
}

@media screen and (max-width: 940px) {
  /* For mobile */
  .topNav a {
    display: none;
  }

  .showMenu,
  .showMenu a,
  .topNav .icon {
    display: block;
  }
}
/* #endregion Header Layout */

/* #region HEADER STYLE */
header {
  padding: 1.2em 2vw 1.2em 1em;
  background-color: var(--backgroundColor);
}

.desktopHeader h1 a {
  text-decoration: none;
  color: var(--mainColor);
  font-size: 2em;
}

.topNav a,
.showMenu a {
  text-decoration: none;
  color: var(--generalTextColor);
  font-size: 1.4em;
  margin: 0 1em;
  border-bottom: solid 2px #00000000;
  transition: all 0.3s;
}

.topNav a:hover {
  /* border-bottom: solid var(--mainColor) 2px; */
  color: var(--mainColor);
}

.showMenu a:hover {
  border-bottom: solid 2px var(--mainColor);
  color: var(--mainColor);
}

.topNav a.activePage {
  border-bottom: solid var(--mainColor) 2px;
}

.showMenu a.activePage {
  color: var(--mainColor);
  text-decoration: underline;
}

.mobileNav {
  line-height: 200%;
  padding: 30px 0 0 0;
}
/* #endregion Header Style */

/* #region TITLE & IMAGE LAYOUT */
.mainImg {
  background-image: linear-gradient(
      var(--backgroundColor) 10%,
      #00000000 45%,
      #00000000 55%,
      var(--backgroundColor) 90%
    ),
    /* #000000e8 */ url(../Assets/Images/Placeholders/placeholderImage1.jpeg);
  /* Move this to each page ^^^^^ */
  grid-area: image;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.pageInformation {
  margin: auto;
  text-align: center;
}

.arrowDown {
  text-align: center;
}

/* #endregion title & image layout */

/* #region TITLE & IMAGE STYLING */
.arrowDown {
  margin: 3em;
}

.arrowDown i {
  color: var(--generalTextColor);
  /* background-image: radial-gradient(#9112129c 10%, #0000003d); */
  padding: 0.5em;
  border-radius: 90px;
  font-size: 2em;
}

.arrowDown i:hover {
  color: var(--mainColor);
}
/* #endregion title & image styling */

/* #region FOOTER LAYOUT */
footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 0 3em;
}
/* #endregion Footer Layout */

/* #region HOMEPAGE*/
.homepage-grid-container {
  /* For mobile & tablet */
  display: grid;
  gap: 2em;
  grid-template-areas:
    "header"
    "image"
    "left"
    "main1"
    "main2"
    "main3"
    "main4"
    "right"
    "footer";
}

@media screen and (min-width: 940px) {
  /* For Large desktop */
  .homepage-grid-container {
    grid-template-columns: 1fr 25em 25em 1fr;
    grid-template-areas:
      "header header header header"
      "image image image image"
      "left main1 main2 right"
      "left main3 main4 right"
      "footer footer footer footer";
  }
}

@media screen and (max-width: 500px) {
  /* For mobile */
  .homepageButton,
  .homepageButton img {
    width: 100% !important;
    border-radius: 0 !important;
  }

  footer {
    /* Temporary for testing */
    display: none;
  }
}

.homepageButton1 {
  grid-area: main1;
}

.homepageButton2 {
  grid-area: main2;
}

.homepageButton3 {
  grid-area: main3;
}

.homepageButton4 {
  grid-area: main4;
}

.homepageButton {
  width: 25em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--buttonColor);
  border-radius: 25px 60px 25px 60px;
}

.homepageButton img {
  width: 25em;
  border-radius: 25px 60px 0 0;
}

.homepageButton h2 {
  font-size: 2em;
  padding: 0.4em;
}

.homepageButton a {
  color: var(--generalTextColor);
  text-decoration: none;
}

.homepageButton:hover {
  background: var(--highlightColor);
}

/* #endregion homepage*/
